<div class="calculator-container">
    <div class="calculator">
        <div class="calc-screen"></div>
        <div class="calc-buttons">
            <div class="calc-btns-row">
                <button>AC</button>
                <button>&#177;</button>
                <button>%</button>
                <button>&#xF7;</button>
            </div>
            <div class="calc-btns-row">
                <button>7</button>
                <button>8</button>
                <button>9</button>
                <button>X</button>
            </div>
            <div class="calc-btns-row">
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>-</button>
            </div>
            <div class="calc-btns-row">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>+</button>
            </div>
            <div class="calc-btns-row">
                <button>Basic?</button>
                <button>0</button>
                <button>.</button>
                <button>=</button>
            </div>
        </div>
    </div>
</div>