.calculator-container {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    align-items: center;
    gap: 0.5rem;
    height: -webkit-fill-available;
}

.calculator {
    display: flex;
    flex-direction: column;
    background: #181818;
    height: 600px;
    border-radius: 10px;
    width: 375px;
}

.calc-screen {
    
}