<div class="calculator-container">
    <div class="calculator">
        <div class="calc-screen"></div>
        <div class="calc-buttons">
            <div class="calc-btns-row">
                <button class="lg-operation-normal-btn">AC</button>
                <button class="lg-operation-normal-btn">&#177;</button>
                <button class="lg-operation-normal-btn">%</button>
                <button class="lg-orange-btn">&#xF7;</button>
            </div>
            <div class="calc-btns-row">
                <button class="lg-normal-btn">7</button>
                <button class="lg-normal-btn">8</button>
                <button class="lg-normal-btn">9</button>
                <button class="lg-orange-btn">X</button>
            </div>
            <div class="calc-btns-row">
                <button class="lg-normal-btn">4</button>
                <button class="lg-normal-btn">5</button>
                <button class="lg-normal-btn">6</button>
                <button class="lg-orange-btn">-</button>
            </div>
            <div class="calc-btns-row">
                <button class="lg-normal-btn">1</button>
                <button class="lg-normal-btn">2</button>
                <button class="lg-normal-btn">3</button>
                <button class="lg-orange-btn">+</button>
            </div>
            <div class="calc-btns-row">
                <button class="lg-normal-btn">
                    <i class="pi pi-calculator"></i>
                </button>
                <button class="lg-normal-btn">0</button>
                <button class="lg-normal-btn">.</button>
                <button class="lg-orange-btn">=</button>
            </div>
        </div>
    </div>
</div>