nav {
  padding: 6px 12px;
  justify-content: space-between;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

footer {
  background: #eeeeee;
  display: inline-flex;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 11;
  padding: 6px 12px;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  @media (max-width: 768px) {
    .extra {
        display: none;
    }
  }
}


